:root {
    --cube-size: 100px;
    --rx: 0deg;
    --ry: 0deg;
    --rz: 0deg;
    --tx: 0px;
    --ty: 0px;
    --tz: 0px;
    --to: center center;
    --bg: black;
    --rouge: rgb(255, 68, 76);
    --bleu: rgb(27, 90, 250);
    --vert: rgb(0, 179, 72);
    --jaune: rgb(231, 225, 2);
    --orange: rgb(255, 114, 3);
    --blanc: white;
    --rouge-rz: 0deg;
    --bleu-rz: 0deg;
    --vert-rz: 0deg;
    --jaune-rz: 0deg;
    --orange-rz: 0deg;
    --blanc-rz: 0deg;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: rgba(255,255,255,0.5);
    min-width: 600px;
    min-height: 600px;
    perspective: 5000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    display: block;
    position: absolute;
    min-width: var(--cube-size);
    min-height: var(--cube-size);
    backface-visibility: visible;
    background-color: black;
    transition-duration: 1s;
}

.rubik {
    --taille: calc(3 * var(--cube-size));
    width: var(--taille);
    height: var(--taille);
    background-color: rgba(250,250,250,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-haut {
    --ty: calc(-1 * var(--cube-size));
}

.c-bas {
    --ty: calc(var(--cube-size));
}

.c-droite {
    --tx: calc(var(--cube-size));
}

.c-gauche {
    --tx: calc(-1 * var(--cube-size));
}

.c-mid {
    --bg: orange;
}

.c-arete {
    --bg: yellow;
}

.c-coin {
    --bg: green;
}

.c-face {
    transform-origin: var(--to, center);
    transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) 
    rotateX(var(--rx)) rotateY(var(--ry)) rotateZ(var(--rz));
    background-color: var(--bg);
    width: var(--cube-size);
    height: var(--cube-size);
    position: absolute;
    transition-duration: 1s;
}

.rouge {
    background-color: var(--rouge);
}

.bleu {
    background-color: var(--bleu);
}

.vert {
    background-color: var(--vert);
}

.jaune {
    background-color: var(--jaune);
}

.orange {
    background-color: var(--orange);
}

.blanc {
    background-color: var(--blanc);
}

.btn {
    font-size: 32px;
    min-width: 40px;
    min-height: 40px;
}
