button:not([disabled]), .clic {
  cursor: pointer;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: clamp(50px, calc(3vw + 2vh + 2rem), 200px);
  height: clamp(5px, calc(1vh + 0.5rem), 20px);
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: rgb(100, 150, 250);
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress::before {
  content: attr(value);
}
progress::after {
  content: attr(max);
}

input[type="radio"], input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/************************/

.combat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.combat::after {
  content: "";
  background-image: url('../assets/img/test/amazon_lily.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;  
}
/**
25 50 25
**/
.camp {
  height: clamp(180px, 33%, 375px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.combattant {
  text-align: center;
}

.competences {
  height: clamp(240px, 33%, 500px);
  display: none;
  flex-direction: column;
}

.competence-liste {
  height: clamp(210px, calc(100% * 7 / 8), 440px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.competences-form {
  height: clamp(30px, calc(100% * 1 / 8), 60px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-choix {
  width: clamp(50px, calc(1vh + 10vw + 2rem), 150px);
  height: clamp(40px, calc(1vh + 1vw + 2rem), 100px);
}
.annuler-attaque {
  color: red;
}
.valider-attaque {
  color: green;
}

.competence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-image: url('../assets/img/test/cadre_rose.png') round;
  border-image-slice: calc(1/3 * 100%) calc(1/3 * 100%) fill;
  border-image-width: 33px 33px;
  border-image-repeat: stretch;
  border-image-outset: 22px;
  margin: 15px;
  width: clamp(150px, calc(1rem + 5vh + 15vw), 300px);
  height: clamp(50px, calc(2rem + 5vh + 5vw), 250px);
}

.atk-select {
  border-image: url('../assets/img/test/cadre_bleu.png') round;
  border-image-slice: calc(1/3 * 100%) calc(1/3 * 100%) fill;
  border-image-width: 33px 33px;
  border-image-repeat: stretch;
  border-image-outset: 22px;
  margin: 15px;
}

.select {
  border: dashed red;
}

#animation {
  position: absolute;
  z-index: 200;
}