---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index';
import Nav from '../components/Nav/index';
---

<html lang="fr">
	<head>
		<MainHead title="A propos benevolarX" description="A propos benevolarX" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>A propos benevolarX</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					Il était une fois un jeune lycée fraichement diplômé...
				</p>
				<p>
					Et ils vécurent heureux et eurent beaucoup de chat.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
