---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index';
import Nav from '../components/Nav/index';
import ArticleBlog from '../components/ArticleBlog/index';

const projects = (await Astro.glob('./blog/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="fr">
	<head>
		<MainHead
			title="Mes articles de blog"
			description="Mes articles de blog"
		/>
		<style lang="scss">
			.flex {
				display: flex;
				align-items: center;
				justify-content: center;
				grid-gap: 3rem;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title mt4 mb4">Mes articles de blog</h1>
			<div class="flex">
				{projects.map((project) => <ArticleBlog project={project} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
